.header {
  padding: 2rem;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
      display: flex;
      align-items: center;
      .links {
        margin-left: 4rem;
        a {
          margin-left: 2rem;
          color: var(--black);
          opacity: 0.5;
        }
      }
    }
  }
  @media screen and (max-width: 769px) {
    .navbar {
      .menu {
        .links {
          margin-left: 2rem;
          a {
            margin-left: 1.3rem;
            font-size: 15px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 426px) {
    padding: 2rem 0.5rem;
    .navbar {
      .menu {
        .links {
          display: none;
        }
      }
    }
  }
}
