.main {
  position: relative;
  margin-top: 6rem;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main__left {
      width: 40%;
      padding: 1rem;
      h1 {
        font-size: 100px;
        .second {
          color: var(--main-color);
          display: inline-block;
          transform: rotateZ(-5deg);
        }
      }
      p {
        opacity: 0.7;
        font-size: 20px;
        max-width: 70%;
        margin: 2rem 0;
      }
      .btns {
        display: flex;
        align-items: center;
      }
    }
    .main__right {
      width: 60%;
    }
  }
}
