:root {
  // Colors :
  --main-color: hsla(171, 52%, 66%, 1);
  --main-color-300: hsl(171, 52%, 30%);
  --main-color-400: hsla(171, 52%, 40%, 1);
  --main-color-500: hsla(171, 52%, 50%, 1);
  --main-color-700: hsla(171, 52%, 70%, 1);
  --main-color-800: hsla(171, 52%, 80%, 1);
  --black: hsl(0, 0%, 13%);
  --white: hsl(0, 0%, 97%);
}

// Fonts

@font-face {
  font-family: "Lufga Light";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lufga-Light.ttf");
}

@font-face {
  font-family: "Lufga Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lufga-Regular.ttf");
}

@font-face {
  font-family: "Lufga Semi Bold";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lufga-SemiBold.ttf");
}

@font-face {
  font-family: "Lufga Bold";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lufga-Bold.ttf");
}

@font-face {
  font-family: "Lufga Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lufga-ExtraBold.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lufga Regular";
  color: var(--black);
  a {
    font-family: "Lufga Semi Bold";
    font-size: 17px;
    color: inherit;
    text-decoration: none;
  }

  ul,
  li {
    list-style: none;
    padding-left: 0;
  }

  // Container (Wrapper)
  .container {
    width: 1600px;
    max-width: 95%;
    max-width: 95%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mg_top {
  margin-top: 4rem;
}

// Animations
.primary_move {
  animation: primary_move 2s ease-in-out infinite;
  position: absolute;
  top: 0%;
  left: 40%;
}
.second_move {
  position: absolute;
  animation: second_move 2s ease-in-out infinite;
  bottom: 0%;
  left: 55%;
}
.bounce {
  position: absolute;
  animation: bounce 2s ease-in-out infinite;
}
